In [ ]:
# type()
x = 2
y = "python"
z = 3.14159265
w = 'a'
print(type(w))
{type(x), type(y), type(z), type(w)}

<class 'str'>

{float, int, str}

#lists[ ]
mutable, as elements can be modified, replaced and order can be changed

In [ ]:

mylist = ["apple", "banana", "cherry"]
print(len(mylist))
print(type(mylist))

#using list() to make a list
mylist2 = list({1,2,3,"a","b","c"})
print(type(mylist2), mylist2)

#append() is used to add elements at the end of list
for i in range(5): # range(5) = integers from 0 to 4
  mylist2.append(i)

print("\nafter append() \nmylist2- ", mylist2)

#insert() is used to add elements at an arbitrary index 
# by giving index number as parameter

mylist2.insert(2, "python")
mylist2.insert(6, 3.1415)

print("\nafter insert() \nmylist2- ", mylist2)

#extend() is used to append a collection of elements at once
# works for list, tuple and dictionaries
list3 = [99,88,77,66]
mylist2.extend(list3)

print("\nafter extend() \nmylist2- ", mylist2)

list3 = {'c','a', 'b'}
mylist2.extend(list3)

print("\nafter extend() \nmylist2- ", mylist2)

3
<class 'list'>
<class 'list'> [1, 2, 3, 'b', 'a', 'c']

after append()
mylist2-  [1, 2, 3, 'b', 'a', 'c', 0, 1, 2, 3, 4]

after insert()
mylist2-  [1, 2, 'python', 3, 'b', 'a', 3.1415, 'c', 0, 1, 2, 3, 4]

after extend()
mylist2-  [1, 2, 'python', 3, 'b', 'a', 3.1415, 'c', 0, 1, 2, 3, 4, 99, 88, 77, 66]

after extend()
mylist2-  [1, 2, 'python', 3, 'b', 'a', 3.1415, 'c', 0, 1, 2, 3, 4, 99, 88, 77, 66, 'c', 'b', 'a']

In [ ]:
# list slicing and accessing of elements
# elements can be accessed by simple indexing
print(mylist2[2])

# negative indices start from the end of the list
print(mylist2[-5])
print()
#list slicing
print(mylist2[3:]) # index 3 till end
print(mylist2[:8]) # start till index 8
print(mylist2[:-7]) # print elements, from the start
print(mylist2[3:13]) # print elements from start index, till end index
print(mylist2[3:10:2]) # same as above, but with interval of 2
print(mylist2[10:1:-2]) # negative interval works only with start index > end index
print(mylist2[::]) # print entire list
print(mylist2[::-1]) # print reversed list

b
77

[3.1415, 'c', 0, 2, 4, 99, 88, 77, 66, 'c', 'b', 'a']
[2, 'python', 'b', 3.1415, 'c', 0, 2, 4]
[2, 'python', 'b', 3.1415, 'c', 0, 2, 4]
[3.1415, 'c', 0, 2, 4, 99, 88, 77, 66, 'c']
[3.1415, 0, 4, 88]
[77, 99, 2, 'c', 'b']
[2, 'python', 'b', 3.1415, 'c', 0, 2, 4, 99, 88, 77, 66, 'c', 'b', 'a']
['a', 'b', 'c', 66, 77, 88, 99, 4, 2, 0, 'c', 3.1415, 'b', 'python', 2]

In [ ]:
# one-line expression to create a list

odd_square = [x**2 for x in range(1,20) if x % 2!=0]
print(odd_square)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
# removing elements remove(), pop()

# remove(), removes element specified even duplicates
# print(mylist2.remove(1)) # no return type
# print(mylist2.remove(3))
print(mylist2)

#pop(), removes and returns last element from list, unless index specified
mylist2.pop(3)

[2, 'python', 'b', 'a', 3.1415, 'c', 0, 2, 4, 99, 88, 77, 66, 'c', 'b', 'a']

'a'

In [ ]:
numbers = [53,51,68,1,62,79,11,70,25,41,11,99]
numbers.sort()
print(numbers)
print(sum(numbers))
numbers.reverse()
print(numbers)

# to create a list with same elements with, * followed by number of elements
listnew = [1]*4
print(listnew)

[1, 11, 11, 25, 41, 51, 53, 62, 68, 70, 79, 99]
571
[99, 79, 70, 68, 62, 53, 51, 41, 25, 11, 11, 1]
[1, 1, 1, 1]

# Tuples ( )

Similar to lists, but tuples are immmutable

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = ("a", "b", "c")
print(tuple1 + tuple2) # + for concatenating tuples
print(len(tuple2))

(1, 2, 3, 4, 'a', 'b', 'c')
3

In [ ]:
# Immutable property of tuples
try:
  tuple1 = (0,1,2,3)
  tuple1[2] = 'a'
  print(tuple1)

except TypeError as te:
  print(te, "\nCant do that to tuples!")

'tuple' object does not support item assignment
Cant do that to tuples!

In [ ]:
#Slicing is similar as in lists

print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [ ]:
# del keyword 
try:
  tuple3 = ( 0, 1)
  del tuple3
  print(tuple3)

except NameError as e:
  print(e)

name 'tuple3' is not defined

In [ ]:
#lists can be converted to tuple and vice versa

list1 = [0, 1, 2]
print(tuple(list1))

#tuples can be converted to list
tuple1 = (1,2,3,4,5)
print(list(tuple1))

(0, 1, 2)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [14]:
# other tuple features/functions similar to lists

a = (7,3,1,9,3,9,1,0,4,5,2,3,6)
print(a.count(9))
print(a.index(3))
print(a)

2
1
(7, 3, 1, 9, 3, 9, 1, 0, 4, 5, 2, 3, 6)

# Dictionary { }
Simpler version of a hash-table, (key,value) pair can each be of any type, and there is a sequential order

In [16]:
dict1 = {
    1:"python",
    2:"is",
    3:"fun",
    4:[1,2,3,4,5],
    5:(9,8,7,6,5),
    6:{
        "x":1,
        "y":2,
        "z":3
    },
    "hi":"hello"
}

print(dict1["hi"])

hello

In [37]:
# functions for dictionary

#copy()
dict2 = dict1.copy()
print(dict2)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#create a custom dictionary, with same value for different keys
x = ['key1', 'key2', 'key3'] 
y = [0,1]
thisdict = dict.fromkeys(x, y)
print(thisdict)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#get() method gives a value for corresponding key
print(dict2.get(6))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#items() returns a list containing a tuple for each key value pair
print(dict2.items())
print(thisdict.items())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#keys() returns a list containing the dictionary's keys
print(dict2.keys())
print(thisdict.keys())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#pop() removes the element with the specified key
print(dict2.pop(5))
print(thisdict.pop('key2'))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#popitem() removes the last inserted key-value pair
print(dict2.popitem())
print(thisdict.popitem())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#update() updates the dictionary with the specified key-value pairs
dict2.update({2:[2,4,6,8]})
thisdict.update({1:'new'})
print(dict2)
print(thisdict)
#values() returns a list of all the values in the dictionary
print(dict2.values())
print(thisdict.values())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
dict2.clear()
thisdict.clear()
print(dict2)
print(thisdict)

{1: 'python', 2: 'is', 3: 'fun', 4: [1, 2, 3, 4, 5], 5: (9, 8, 7, 6, 5), 6: {'x': 1, 'y': 2, 'z': 3}, 'hi': 'hello'}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{'key1': [0, 1], 'key2': [0, 1], 'key3': [0, 1]}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{'x': 1, 'y': 2, 'z': 3}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
dict_items([(1, 'python'), (2, 'is'), (3, 'fun'), (4, [1, 2, 3, 4, 5]), (5, (9, 8, 7, 6, 5)), (6, {'x': 1, 'y': 2, 'z': 3}), ('hi', 'hello')])
dict_items([('key1', [0, 1]), ('key2', [0, 1]), ('key3', [0, 1])])
~~~~~~~~~~~~~~~~~~~~~~~~~~~
dict_keys([1, 2, 3, 4, 5, 6, 'hi'])
dict_keys(['key1', 'key2', 'key3'])
~~~~~~~~~~~~~~~~~~~~~~~~~~~
(9, 8, 7, 6, 5)
[0, 1]
~~~~~~~~~~~~~~~~~~~~~~~~~~~
('hi', 'hello')
('key3', [0, 1])
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{1: 'python', 2: [2, 4, 6, 8], 3: 'fun', 4: [1, 2, 3, 4, 5], 6: {'x': 1, 'y': 2, 'z': 3}}
{'key1': [0, 1], 1: 'new'}
dict_values(['python', [2, 4, 6, 8], 'fun', [1, 2, 3, 4, 5], {'x': 1, 'y': 2, 'z': 3}])
dict_values([[0, 1], 'new'])
{}
{}

# Set { }

Used to store multiple unique items in a single variable, unordered, mutable, and unindexed.

Can remove items and add new items.

In [50]:
s = "java, python, typescript"
s = set(s)
print(s)

# items can appear in a different order every time you use them,
# and cannot be referred to by index or key.

thisset = {"apple", "banana", "cherry"}
print(thisset) 
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#add() adds an element to the set
thisset.add(1)
print(thisset)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#difference() returns a set containing the difference between two or more sets
a = {1,2,3,4,5,6}
b = {5,6,7}
print(a.difference(b))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#difference_update() removes the items in this set that are also included in another, specified set
a.difference_update(b)
print(a)
print(b)
a = {1,2,3,4,5,6}
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#discard()/ remove() removes the specified item
a.remove(2)
print(a)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#intersection() returns a set, that is the intersection of two or more sets
print(a.intersection(b))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#union() return a set containing the union of sets
print(a.union(b))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#symmentric_difference() returns a set with the symmetric differences of two sets
print(a.symmetric_difference(b))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#pop() removes and returns an element from the set
a.pop()
print(a)

{'r', 'o', 's', 'a', ' ', 'h', 'n', ',', 'y', 'i', 'j', 'v', 'p', 'e', 't', 'c'}
{'banana', 'cherry', 'apple'}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{'banana', 1, 'cherry', 'apple'}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{1, 2, 3, 4}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{1, 2, 3, 4}
{5, 6, 7}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{1, 3, 4, 5, 6}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{5, 6}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{1, 3, 4, 5, 6, 7}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{1, 3, 4, 7}
~~~~~~~~~~~~~~~~~~~~~~~~~~~
{3, 4, 5, 6}

# String methods

In [73]:
# Convert string to uppercase
txt = "hello world"
print(txt.capitalize())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
# Covert to lowercase
txt = "Hello World"
print(txt.casefold())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#Encode string using a rule
print(txt.encode('ascii'))
s = "hello. this is a sample text to learn about python strings"
#Count occurence of string/character
print(s.count('s'))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#Check if s ends with specified string
print(s.endswith('strings'))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#Return index of specified string
print(s.find('python'))
print(s.index('python'))
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#Check if string is title, every word's first letter is capital
print(txt.istitle())
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~")
#Replace old string with new string, specified number of times, else all occurences
print(s.replace('s','x',4))
#Swap lowercase to uppercase & uppercase to lowercase
print(txt.swapcase())
#Convert string to title, every word's first letter is capital
print(s.title())
#Strip every word, based on specified seperator, default is=' '
print(list(s.strip()))

Hello world
~~~~~~~~~~~~~~~~~~~~~~~~~~~
hello world
~~~~~~~~~~~~~~~~~~~~~~~~~~~
b'Hello World'
5
~~~~~~~~~~~~~~~~~~~~~~~~~~~
True
~~~~~~~~~~~~~~~~~~~~~~~~~~~
44
44
~~~~~~~~~~~~~~~~~~~~~~~~~~~
True
~~~~~~~~~~~~~~~~~~~~~~~~~~~
hello. thix ix a xample text to learn about python xtrings
hELLO wORLD
Hello. This Is A Sample Text To Learn About Python Strings
['h', 'e', 'l', 'l', 'o', '.', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 'a', 'm', 'p', 'l', 'e', ' ', 't', 'e', 'x', 't', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n', ' ', 'a', 'b', 'o', 'u', 't', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 's', 't', 'r', 'i', 'n', 'g', 's']