<a href="https://colab.research.google.com/github/shubhamojha1/python-Experiments/blob/main/Experiment_8_sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3 as sql

In [2]:
try:
  sqliteConnection = sql.connect("SQLite_python.db")
  create_table_query = """CREATE TABLE SqliteDb_developers (id INTEGER PRIMARY KEY, name TEXT NOT NULL, email TEXT NOT NULL UNIQUE, joining_date datetime,
                                salary REAL NOT NULL);"""
                              
  cursor = sqliteConnection.cursor()
  print('Connected successfully to SQLite!')
  cursor.execute(create_table_query)
  sqliteConnection.commit()
  print("SQLite table created!")
  cursor.close()

except sql.Error as e:
  print("Error while creating table!", e)
finally:
  if sqliteConnection:
    sqliteConnection.close()
    print("sqlite connection closed")

Connected successfully to SQLite!
SQLite table created!
sqlite connection closed

In [3]:
sqliteConnection = sql.connect('SQLite_python.db')
cursor = sqliteConnection.cursor()
insert_query= """INSERT INTO SqliteDb_developers
                          (id, name, email, joining_date, salary) 
                           VALUES 
                          (1,'James','james@pynative.com','2022-03-17',8000)
              """
cursor.execute(insert_query)
sqliteConnection.commit()
print("Successfully inserted records into SQLite_python TABLE", cursor.rowcount)

Successfully inserted records into SQLite_python TABLE 1

In [4]:
print(cursor.execute("SELECT * FROM SqliteDb_developers").fetchall())
select_all_command = cursor.execute("SELECT * FROM SqliteDb_developers").fetchall()

[(1, 'James', 'james@pynative.com', '2022-03-17', 8000.0)]

In [5]:
cursor.close()
sqliteConnection.close()

In [8]:
sqliteConnection = sql.connect('SQLite_python.db')
cursor = sqliteConnection.cursor()
print("Connected to SQLite")
rows = cursor.execute("SELECT * FROM SqliteDb_developers").fetchall()
print(rows)

Connected to SQLite
[(1, 'James', 'james@pynative.com', '2022-03-17', 8000.0), (2, 'joe', 'joe@gmail.com', '2022-05-19', 10000.0), (3, 'ben', 'ben@gmail.com', '2022-02-01', 5000.0)]

In [ ]:
type(rows)

list

In [9]:
def selectAll():
  sqliteConnection = sql.connect('SQLite_python.db')
  cursor = sqliteConnection.cursor()
  # print("Connected to SQLite")
  print(cursor.execute("SELECT * FROM SqliteDb_developers").fetchall())
  cursor.close()

In [6]:
def insertValue(id, name, email, joinDate, salary):
  try:
    sqlConnection = sql.connect('SQLite_python.db')
    cursor = sqlConnection.cursor()
    print("Connected to SQLite")

    insert_with_param = """
    INSERT INTO SqliteDb_developers (id, name, email, joining_date, salary)
    VALUES (?, ?, ?, ?, ?);
                        """
    data_tuple = (id, name, email, joinDate, salary)
    cursor.execute(insert_with_param, data_tuple)
    sqlConnection.commit()
    print("Successfully inserted records into SQLite_python TABLE", cursor.rowcount)
    cursor.close()


  except sql.Error as e:
    print("Failed to insert values into TABLE", e)

In [11]:
def removeFromTable(whereCondition):
  try:
    sqliteConnection = sql.connect('SQLite_python.db')
    cursor = sqliteConnection.cursor()
    # print("Connected to SQLite")
    where_condition = whereCondition
    remove_command = cursor.execute("DELETE FROM SqliteDb_developers WHERE {};".format(where_condition))
    sqliteConnection.commit()
    print("Successfully deleted!")
    cursor.close()
  except sql.Error as e:
    print("Error in removing row!", e)

In [15]:
def updateTable(set="",condition=""):
  try:
    sqliteConnection = sql.connect('SQLite_python.db')
    cursor = sqliteConnection.cursor()

    update_query = """
                  UPDATE SqliteDb_developers SET {} WHERE {}
                  """.format(set, condition)
    cursor.execute(update_query)
    sqliteConnection.commit()
    print("Updated successfully")
    cursor.close()

  except sql.Error as e:
    print("Failed to update table!", e)

In [10]:
selectAll()

[(1, 'James', 'james@pynative.com', '2022-03-17', 8000.0), (2, 'joe', 'joe@gmail.com', '2022-05-19', 10000.0), (3, 'ben', 'ben@gmail.com', '2022-02-01', 5000.0)]

In [ ]:
removeFromTable('name = "joe"')

Successfully deleted!

In [12]:
selectAll()

[(1, 'James', 'james@pynative.com', '2022-03-17', 8000.0), (2, 'joe', 'joe@gmail.com', '2022-05-19', 10000.0), (3, 'ben', 'ben@gmail.com', '2022-02-01', 5000.0)]

In [7]:
insertValue(2, 'joe', 'joe@gmail.com', '2022-05-19', 10000)
insertValue(3, 'ben', 'ben@gmail.com', '2022-02-01', 5000)

Connected to SQLite
Successfully inserted records into SQLite_python TABLE 1
Connected to SQLite
Successfully inserted records into SQLite_python TABLE 1

In [13]:
removeFromTable('id = 1')

Successfully deleted!

In [14]:
selectAll()

[(2, 'joe', 'joe@gmail.com', '2022-05-19', 10000.0), (3, 'ben', 'ben@gmail.com', '2022-02-01', 5000.0)]

In [16]:
updateTable(set="name='joseph'", condition="id=2")

Updated successfully

In [17]:
selectAll()

[(2, 'joseph', 'joe@gmail.com', '2022-05-19', 10000.0), (3, 'ben', 'ben@gmail.com', '2022-02-01', 5000.0)]